@import "tailwindcss";

@utility section-min-height {
  min-height: calc(100vh - 68px);
}

@utility toggle-btn {
  @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-720;
}

@custom-variant widescreen {
  @media (min-aspect-ratio: 3/2) {
    @slot;
  }
}

@custom-variant tallscreen {
  @media (max-aspect-ratio: 13/20) {
    @slot;
  }
}

@theme {
  --animate-open-menu: open-menu 0.30s ease-out forwards;
  --color-papayawhip-light: #fef4e4;
  --color-papayawhip: #ffefd5;
  --color-papayawhip-dark: #fee5bc;

  @keyframes open-menu {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
